<div id="<%= dom_id note %>">
  <p>
    <strong>Notable:</strong>
    <%= note.notable_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= note.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= note.author_id %>
  </p>

</div>
