<div id="<%= dom_id house %>">
  <p>
    <strong>Name:</strong>
    <%= house.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= house.address %>
  </p>

  <p>
    <strong>Lister:</strong>
    <%= house.lister_id %>
  </p>

</div>
