<div id="<%= dom_id specialization %>">
  <p>
    <strong>Contractor:</strong>
    <%= specialization.contractor_id %>
  </p>

  <p>
    <strong>Skill:</strong>
    <%= specialization.skill_id %>
  </p>

</div>
