<div id="<%= dom_id prerequisite %>">
  <p>
    <strong>Required project:</strong>
    <%= prerequisite.required_project_id %>
  </p>

  <p>
    <strong>Locked project:</strong>
    <%= prerequisite.locked_project_id %>
  </p>

</div>
