<h1>Editing prerequisite</h1>

<%= render "form", prerequisite: @prerequisite %>

<br>

<div>
  <%= link_to "Show this prerequisite", @prerequisite %> |
  <%= link_to "Back to prerequisites", prerequisites_path %>
</div>
