<h1>Editing ownership</h1>

<%= render "form", ownership: @ownership %>

<br>

<div>
  <%= link_to "Show this ownership", @ownership %> |
  <%= link_to "Back to ownerships", ownerships_path %>
</div>
